<div class="about-text">
  <p>This website illustrates the 23 design patterns by the Gang of Four, implemented in JavaScript. The design patterns are organized by three pattern types - creational, structural, and behavioral.</p>
  <p>Creational patterns: ones that create objects, rather than having to instantiate objects directly. This gives the program more flexibility in deciding which objects need to be created for a given case.</p>
  <p>Structural patterns: these concern class and object composition. They use inheritance to compose interfaces and define ways to compose objects to obtain new functionality.</p>
  <p>Behavioral patterns: most of these design patterns are specifically concerned with communication between objects.</p>
  <p>Source: <a href="https://en.wikipedia.org/wiki/Design_Patterns">Wikipedia.</a></p>
</div>