<p>
  <button class="btn btn-default btn-sm" ng-click="tab = 0" ng-disabled="tab === 0">Creational</button>
  <button class="btn btn-default btn-sm" ng-click="tab = 1" ng-disabled="tab === 1">Structural</button>
  <button class="btn btn-default btn-sm" ng-click="tab = 2" ng-disabled="tab === 2">Behavioral</button>
</p>

<tabset class="category-tabs">
  <tab active="tab === 0">
    <tabset>
      <tab heading="Singleton Pattern">
        A design pattern for creating a single instance of a class. Longer description coming soon!
      </tab>
      <tab heading="Factory Pattern">
        Coming soon!
      </tab>
    </tabset>
  </tab>

  <tab active="tab === 1">
    <tabset>
      <tab heading="Decorator Pattern">
        Coming soon!
      </tab>
      <tab heading="Adapter Pattern">
        Coming soon!
      </tab>
    </tabset>
  </tab>

  <tab active="tab === 2">
    <tabset>
      <tab heading="Observer Pattern">
        Coming soon!
      </tab>
      <tab heading="Visitor Pattern">
        Coming soon!
      </tab>
    </tabset>
  </tab>

</tabset>