<p>
  <button class="btn btn-default btn-sm" ng-click="tab = 0" ng-disabled="tab === 0">Creational</button>
  <button class="btn btn-default btn-sm" ng-click="tab = 1" ng-disabled="tab === 1">Structural</button>
  <button class="btn btn-default btn-sm" ng-click="tab = 2" ng-disabled="tab === 2">Behavioral</button>
</p>

<tabset class="category-tabs">
  <tab active="tab === 0">
    <div ng-include="'views/creational/index.html'"></div>
  </tab>

  <tab active="tab === 1">
    <div ng-include="'views/structural/index.html'"></div>
  </tab>

  <tab active="tab === 2">
    <div ng-include="'views/behavioral/index.html'"></div>
  </tab>
</tabset>